{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table align="center" border="0">
        <tr>
            <th>
                <img src="{% static 'images/logo.png' %}" width="250" height="130"></th>
        <th>
            <table align="center">
                <tr>
            <th>
                <font face="Arial black" size="8" color="#ff8c00">
                Online Property Sale's
                </font>
            </th>
                </tr>
                <tr><th>
                    <marquee>
                    Buy and Sale Open Plots
                    </marquee>
                    </th>
                </tr>
            </table>
        </th>
        </tr>
    </table>


</body>
</html>