<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Sales</title>
</head>
<body>
    <table align="center">
        <tr>
            <th>
                {% include 'os_main_templates/os_main_title.html' %}
            </th>
        </tr>
        <tr>
            <th>
                 {% include 'os_main_templates/os_main_menu.html' %}
            </th>
        </tr>
        <tr>
            <th>
                <h1> Home Page </h1>
            </th>
        </tr>
    </table>


</body>
</html>