<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table align="center" border="0" style="text-align: center">
            <tr>
                <th width="130"  HEIGHT="30" bgcolor="orange" style="text-align: center">

                  <a href="/osadmin/adminwelcome">
                    HOME
                  </a>
                </th>
                <th width="130" bgcolor="#7cfc00">
{#                    <a href="{% url 'osadmin:adminhome' %}">#}
                    <a href="/osadmin/client">
                        CLIENT
                    </a>
                </th>
                <th width="130" bgcolor="orange">
                    <a href="/osadmin/agenthome">
                        AGENT
                    </a>
                </th>
                <th width="130" bgcolor="#7cfc00">
                    <a href="/osadmin/propertyall/">
                        PROPERTY
                    </a>
                </th>
                <th width="130" bgcolor="orange"> COMPLAINT </th>
                <th width="130" bgcolor="#7cfc00">
                    <a href="/osadmin/adminhome">
                    LOGOUT
                    </a></th>
            </tr>
        </table>
</body>
</html>